---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, collab]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
---

<div class="jumbotron">
    <p>
        Machine Learning (ML) systems are increasingly being used in many domains, including robotics, transportation, manufacturing, and even safety-critical fields such as healthcare, primarily due to their impressive performance. Nevertheless, despite the remarkable performance and applications, ML systems lack many desirable characteristics for safe real-world deployments, such as robustness, fairness, human interpretability, verifiability, etc. 
        The umbrella of research addressing ML systems' interpretability, robustness, fairness, and verifiability is commonly referred to as trustworthy ML.

    </br>

    The Trustworthy ML Research Group at the University of Moratuwa is committed to developing novel techniques for building trustworthy ML systems for various real-world applications, including healthcare, sustainable living, and software systems, via multi-disciplinary research collaborations. 

    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
